.button {
  @include hover(background-color, $c-btn-active);
  display: grid;
  justify-content: center;
  align-items: center;
  height: 56px;
  width: 226px;
  color: $c-white;
  font-family: $header-font;
  text-decoration: none;
  background-color: $c-pink;
  border: 0;
  border-radius: $btn-border-radius;
  cursor: pointer;
  outline: none;
  transition: all 0.6s ease;

  @media screen and (max-width: $mobileWidth) {
    width: 100%;
  }

  &:hover {
    box-shadow: 0 6px 20px 0 rgba(30, 58, 87, 0.7);
  }

  &:focus {
    background-color: $c-btn-active;
  }
}
