.contact {
  &__container {
    display: grid;
    grid-template-columns: repeat(2, 460px);
    justify-content: space-between;
    max-width: 1600px;
    margin: 0 auto;
    padding: 180px 150px;
    box-sizing: border-box;

    @media (max-width: 1400px) {
      grid-template-columns: repeat(2, 400px);
    }

    @media (max-width: $desktopWidth) {
      grid-template-columns: 1fr 1fr;
      padding: 80px 70px;
      column-gap: 50px;
    }

    @media (max-width: $tabletWidth) {
      grid-template-columns: 1fr;
      row-gap: 50px;
    }

    @media (max-width: $mobileWidth) {
      grid-template-columns: 1fr;
      padding: 70px 15px;
    }
  }

  &-info__wrapper {
    display: flex;
    flex-direction: column;
    @media (max-width: $tabletWidth) {
      align-items: center;
    }
  }

  &-img__wrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 160px;
  }

  &-img__link {
    display: flex;
    width: 32px;
    height: 32px;
  }

  &__title {
    padding-top: 16px;
    @include titleStyle;
    font-size: 32px;
    line-height: 150%;
    @media (max-width: $tabletWidth) {
      text-align: center;
    }
  }

  &__label {
    @include  navItemStyle;
    font-size: 13px;
    opacity: 0.5;
    padding-top: 56px;
  }

  &__text {
    @include paragraphStyle;
    color: $c-white;
    font-size: 24px;
    padding-top: 8px;
    @media (max-width: $tabletWidth) {
      text-align: center;
    }
  }

  &__btn {
    margin-top: 80px;
    @media (max-width: $desktopWidth) {
      margin-top: 40px;
      align-self: center;
    }
  }

  &-form__wrapper {
    display: flex;
    flex-direction: column;
    @media (max-width: $tabletWidth) {
      align-items: stretch;
    }
  }

  &__form {
    padding-top: 56px;
  }
}

.form {
  display: flex;
  flex-direction: column;

  &__input {
    width: 100%;
    height: 48px;
    box-sizing: border-box;
    @include titleStyle;
    font-size: 15px;
    line-height: 22px;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    outline: none;
    margin-bottom: 48px;
    padding: 10px 5px;

    @media (max-width: $desktopWidth) {
      margin-bottom: 30px;
    }

    &:focus {
      border-bottom: 2px solid #fff;
    }

    &::placeholder {
      @include titleStyle;
      font-size: 15px;
      line-height: 22px;
      opacity: 0.5;
    }
  }
}

.icon-btn {
  background-color: transparent;
  border: 0;
  outline: none;
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.2);
  }
}

#facebook,
#twitter,
#instagram {
  transition: all 0.3s ease-in-out;
}

.icon-btn:hover #facebook,
#twitter,
#instagram {
  fill: #d2ebff;
}
