.main__container {
  width: 100%;
}

.wrapper--dark {
  background-color: $c-gray;
}

.wrapper--light {
  background-color: $c-white;
  width: 100%;
}

.wrapper--contact {
  background-color: $bg-c-blue;
  border-radius: 0 200px 0 0;
}

.inner__wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0 150px;
  max-width: 1600px;
  box-sizing: border-box;

  @media (max-width: $desktopWidth) {
    padding: 0 70px;
    max-width: 1060px;
  }

  @media (max-width: $tabletWidth) {
    max-width: 760px;
    padding: 0 70px;
  }

  @media (max-width: $mobileWidth) {
    max-width: 290px;
    padding: 0 15px;
  }
}

.wrapper--left {
  margin-left: auto;
  max-width: 94vw;
  box-sizing: border-box;

  @media (max-width: $desktopWidth) {
    margin: 0 auto;
  }

  @media (max-width: $tabletWidth) {
    max-width: 760px;
    margin: 0 auto;
  }

  @media (max-width: $mobileWidth) {
    width: 100%;
    padding-left: 10px;
  }
}
