html,
body {
  padding: 0;
  margin: 0;

}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
input,
textarea,
ul {
  padding: 0;
  margin: 0;
}

body::before {
  content: "";
  position: fixed;
  top: -10px;
  left: -10px;
  width: 110%;
  height: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.8);
  z-index: 100;
}
