$c-gray: #f2f9ff;
$c-white: #fff;
$c-pink: #ff9c8e;
$c-btn-active: #ff7e6c;
$bg-c-blue: #008aff;
$c-title: #253757;
$c-paragragh:  #6c788b;
$header-img-width: 687px;
$header-img-height: 680px;
$header-font: "Poppins", sans-serif;
$text-font: "Open Sans", sans-serif;
$mobileWidth: 400px;
$tabletWidth: 900px;
$minTabletWidth:768px;
$desktopWidth: 1200px;
$arrow-size: 32px;
$btn-border-radius: 64px;
$c-label: #c0cdd7;
$c-card-1: #56ccf2;
$c-card-2: #fcc304;
$c-card-3: #f25656;
